.bungkus {
    height: 600px;
    width: 800px;
    background-color:blue;
}

.header{
    height: 150px;
    background-color: orange;
}

.body{
    height: 400px;
    background-color: green;
}

.menu{
    width: 200px;
    height: 400px;
    background-color: yellow ;
    float: left;
}

.isi{
    width: 600px;
    height: 400px;
    background-color: pink;
    float:right;
}

.footer{
    height: 50px;
    background-color: red;

}

.fk{
    width: 400px;
    height: 50px;
    background-color: brown;
    float: left;
}

.fs{
    width: 400px;
    height: 50px;
    background-color: grey;
    float:right ;
}